@tailwind base;
@tailwind components;
@tailwind utilities;

code[class*="language-"],
pre[class*="language-"] {
	@apply text-sm bg-neutral-950 border border-border text-white max-w-[51.85rem];
	font-family: var(--geist-mono);
	letter-spacing: 0.2px;
	white-space: pre;
	text-shadow: none;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	text-align: left;
	tab-size: 4;
	hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection {
	color: inherit;
	text-shadow: none;
}

pre {
	@apply overflow-auto;
	scrollbar-width: thin;
}

pre[class*="language-"] {
	@apply rounded-lg p-4 mt-4;
	overflow: auto;
}

pre > code {
	border: none;
	background: none !important;
	width: auto;
}

:not(pre) > code[class*="language-"] {
	@apply text-white bg-neutral-950 p-[0.2em_0.3em] rounded-lg;
	box-decoration-break: clone;
}

.code-highlight {
	float: left;
	min-width: 100%;
}

.code-line {
	display: block;
	padding: 0 16px;
	margin: 0 -16px;
	border-left: 4px solid transparent;
}

.code-line.inserted {
	background-color: rgba(16, 185, 129, 0.2);
}

.code-line.deleted {
	background-color: rgba(239, 68, 68, 0.2);
}

.highlight-line {
	margin: 0 -1rem;
	background-color: #62c07327;
	border-left: 0.25rem solid #62c073;
	/* background-color: #8e4ec627;
	border-left: 0.25rem solid #8E4EC6; */
}

.line-number::before {
	display: inline-block;
	width: 1rem;
	text-align: right;
	margin: 0 1rem 0 -1rem;
	color: #ffffff88;
	content: attr(line);
}

.token.doctype,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted,
.token.selector,
.token.builtin,
.token.inserted,
.token.string,
.token.char,
.token.regex,
.token.function,
.token.important,
.token.variable {
	color: white;
}
.token.property-access,
.token.attr-name {
	@apply text-[#ffffffbb];
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.id,
.token.class,
.token.atrule,
.token.keyword,
.token.class-name,
.token.comment,
.token.prolog,
.token.cdata,
.token.punctuation,
.token.punctuation.attr-equals,
.token.property,
.token.attr-value {
	@apply text-[#ffffff88];
}

.data-table table,
.table table {
	@apply w-full border-separate border-spacing-0;
}

.data-table table thead,
.table table thead {
	@apply border-t border-b border-border;
}

.data-table table th,
.table table th {
	@apply first:rounded-tl-md first:rounded-bl-md first:border-l 
	last:rounded-tr-md last:rounded-br-md last:border-r 
	border-t border-b border-border bg-muted/60 align-top;
}

.data-table table thead th,
.table table thead th {
	@apply text-left text-wrap lg:text-nowrap text-foreground 
	text-base font-normal tracking-tight p-3;
}

.data-table table tbody td,
.table table tbody td {
	@apply text-foreground text-sm p-3 border-b border-border;
}

.data-table table tr,
.table table tr {
	@apply even:bg-background-foreground hover:bg-background-foreground;
}

.table table tbody td:nth-child(1) {
	width: 16ch;
}

h1 code,
h2 code,
h3 code,
h4 code {
	font-size: inherit;
}

h1 {
	@apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

h2 {
	@apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
}

h3 {
	@apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
	@apply scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
	@apply text-foreground leading-7 [&:not(first-child)]:mt-6;
}

a.link {
	@apply text-blue-700 dark:text-blue-500 active:text-red-700 active:dark:text-red-500 visited:text-purple-700 visited:dark:text-purple-500 hover:underline hover:underline-offset-4 font-medium;
}

ol {
	@apply list-outside list-decimal my-3 ml-4 p-0;
}

ul {
	@apply my-3 ml-4 p-0 list-["–"];
}

li {
	@apply text-foreground pl-2;
}

li::marker {
	@apply text-foreground mr-4;
}

ul li ul {
	@apply pt-2 pl-6 lg:pl-8 list-["-"];
}

code {
	@apply inline-block relative my-px rounded-md bg-muted font-[var(--geist-mono)] text-foreground px-[0.3rem] py-[0.1rem] text-sm leading-5 border border-border;
}

blockquote {
	@apply p-3 border-l-4 border-border my-6;
}

blockquote p {
	@apply mt-0;
}

strong {
	@apply font-semibold text-primary;
}

/* TABLE1 */
.table1 {
	@apply bg-card mt-6 border border-collapse border-border;
}

.table1 tr {
	@apply even:bg-muted;
}

.table1 thead tr th {
	@apply px-4 border border-collapse border-border;
}

.table1 tbody tr td {
	@apply border border-collapse px-1 py-px border-border;
}

.table1 tbody tr td:nth-child(3) {
	@apply text-right;
}

/* TABLE 2 */
.table2 {
	font-family: "Times New Roman", Times, serif;
	@apply mt-4 border border-separate border-border bg-none;
}

.table2 thead tr th,
.table2 tbody tr td {
	@apply px-4 border border-border;
}

.table2 thead tr th {
	@apply text-primary;
}

.table2 tbody tr {
	@apply border border-border;
}

.table2 tbody tr td {
	@apply px-1 py-px;
}

/* TABLE 3 */
.table3 {
	font-family: "Times New Roman", Times, serif;
	border: thin solid;
	@apply mt-4 border-separate border-border bg-none;
}

.table3 thead tr th,
.table3 tbody tr td {
	border: thin solid;
	@apply border-border;
}

.table3 tbody tr {
	@apply border border-border;
}

.table3 thead tr th {
	@apply px-4 text-primary;
}

.table3 tbody tr td {
	@apply px-1 py-px;
}

/* TABLE 4 */
.table4 {
	font-family: "Times New Roman", Times, serif;
	@apply border mt-4 border-collapse border-border bg-none;
}

.table4 thead tr th,
.table4 tbody tr td {
	@apply border border-collapse border-border;
}

.table4 thead tr th {
	@apply px-4 text-primary;
}

.table4 tbody tr {
	@apply border border-border;
}

.table4 tbody tr td {
	@apply px-1 py-px;
}

/* TABLE 5 */
.table5 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-collapse: collapse;
}

.table5,
.table5 thead th,
.table5 tbody td {
	@apply border border-solid border-neutral-950;
}

.table5 thead {
	background-color: #191970;
	color: #ededed;
}

.table5 thead th {
	padding: 0.5rem 1rem;
}

.table5 tbody {
	background-color: #add8e6;
}

.table5 tbody td {
	padding: 0.25rem;
	color: #111;
}

.table5 tbody td:nth-child(3) {
	text-align: right;
}

/* TABLE 6 */
.table6 {
	@apply font-serif border border-border border-separate mt-4 bg-none;
}

.table6 thead tr th,
.table6 tbody tr td {
	@apply border border-border;
}

.table6 thead tr th {
	@apply md:px-2;
}

.table6 tbody tr td {
	@apply text-center;
}
