@tailwind base;
@tailwind components;
@tailwind utilities;

.table table {
	@apply w-full bg-foreground border-collapse border border-border-foreground;
}

.table table thead th {
	@apply text-primary text-left font-bold text-base py-2 px-3 border-b border-collapse border-border-foreground;
}

.table table tbody td:nth-child(1) {
	width: 15ch;
}

.table table tbody td,
.table table thead th {
	@apply text-secondary p-3 border-border-foreground border-l;
}

.table table tr:nth-child(odd) {
	@apply bg-background;
}

h1 {
	@apply text-primary text-4xl font-bold mb-2;
}

h2 {
	@apply text-primary text-3xl font-bold mb-2;
}

h3 {
	@apply text-primary text-2xl font-bold mb-2;
}

h4 {
	@apply text-primary text-xl font-bold mb-2;
}

ol {
	list-style-position: inside;
	list-style-type: decimal;
}

ul {
	list-style-position: inside;
	list-style-type: disc;
}

li {
	@apply text-secondary mb-2;
}

li::marker {
	@apply text-primary;
}

code {
	@apply text-sm my-px text-primary rounded-md bg-foreground py-[.12em] px-[.25em] border border-border-foreground;
	font-family: var(--shareTechMono);
}

blockquote {
	@apply text-sm rounded-lg p-3 border border-border-foreground my-6;
}

strong {
	@apply font-medium text-primary;
}

/* TABLE1 */
.table1 {
	@apply my-6 border border-collapse border-border bg-none;
}

.table1 thead tr th {
	@apply px-4 border border-collapse border-border;
}

.table1 tbody tr td {
	@apply text-secondary border border-collapse px-1 py-px border-border;
}

.table1 tbody tr td:nth-child(3) {
	@apply text-right;
}

/* TABLE 2 */
.table2 {
	font-family: 'Times New Roman', Times, serif;
	@apply my-6 border border-separate border-border bg-none;
}

.table2 thead tr th,
.table2 tbody tr td {
	@apply px-4 border border-border;
}

.table2 thead tr th {
	@apply text-primary;
}

.table2 tbody tr {
	@apply border border-border;
}

.table2 tbody tr td {
	@apply px-1 py-px;
}

/* TABLE 3 */
.table3 {
	font-family: 'Times New Roman', Times, serif;
	border: thin solid;
	@apply my-6 border-separate border-border bg-none;
}

.table3 thead tr th,
.table3 tbody tr td {
	border: thin solid;
	@apply border-border;
}

.table3 tbody tr {
	@apply border border-border;
}

.table3 thead tr th {
	@apply px-4 text-primary;
}

.table3 tbody tr td {
	@apply px-1 py-px;
}

/* TABLE 4 */
.table4 {
	font-family: 'Times New Roman', Times, serif;
	@apply border my-6 border-collapse border-border bg-none;
}

.table4 thead tr th,
.table4 tbody tr td {
	@apply border border-collapse border-border;
}

.table4 thead tr th {
	@apply px-4 text-primary;
}

.table4 tbody tr {
	@apply border border-border;
}

.table4 tbody tr td {
	@apply px-1 py-px;
}

/* TABLE 5 */
.table5 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-collapse: collapse;
}

.table5,
.table5 thead th,
.table5 tbody td {
	@apply border border-solid border-neutral-950;
}

.table5 thead {
	background-color: #191970;
	color: #ededed;
}

.table5 thead th {
	padding: 0.5rem 1rem;
}

.table5 tbody {
	background-color: #add8e6;
}

.table5 tbody td {
	padding: 0.25rem;
	color: #111;
}

.table5 tbody td:nth-child(3) {
	text-align: right;
}

/* TABLE 6 */
.table6 {
	@apply font-serif border border-border border-separate my-6 bg-none;
}

.table6 thead tr th,
.table6 tbody tr td {
	@apply border border-border;
}

.table6 thead tr th {
	@apply md:px-2;
}

.table6 tbody tr td {
	@apply text-center;
}
