@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../components/colors/color-scheme.css');

:root {
	--radius: 8px;
	
}

section {
	@apply w-full cell-padding primary-border border-b;
}

h1 {
	@apply text-100 text-4xl font-bold mb-2;
}

p {
	@apply text-200;
}

.text-100 {
	@apply text-[#171717] dark:text-[#EDEDED];
}

.text-200 {
	@apply text-[#666] dark:text-[#a1a1a1];
}

.primary-border {
	@apply border-[#ebebeb] dark:border-[#2e2e2e];
}

.cell-padding {
	@apply p-6 xl:p-12;
}

.links li a {
	@apply text-200 pr-2 my-1 text-sm inline-block w-full;
}

.links li a:hover {
	text-decoration: underline;
}

.truncate-description {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
